#inicio{
    background-image: url(/imagenes/inicioCover.jpg);
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.h1-inicio{
    margin-top: 4rem;
}
#contacto{
    background-image: url(/imagenes/contacto.jpg);
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
}

